*.user
*.suo
v14/.vs/*
v14/boost/*
v14/ColPack/*
v14/sparse/*
v14/nosparse/*
v14/x64/sparse/*
v14/x64/nosparse/*
!v14/sparse/*.h
!v14/nosparse/*.h
!v14/x64/sparse/*.h
!v14/x64/nosparse/*.h
!v14/sparse/*.h.in
!v14/nosparse/*.h.in
!v14/x64/sparse/*.h.in
!v14/x64/nosparse/*.h.in
