* text=auto !eol
/AUTHORS -text
/BUGS -text
/ChangeLog -text
/INSTALL -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/Makefile.win -text
/NEWS -text
/README -text
/TODO -text
/aclocal.m4 -text
adolc/Makefile.am -text
adolc/Makefile.in -text
adolc/Makefile.win -text
adolc/adalloc.c -text
adolc/adalloc.h -text
adolc/adolc.h -text
adolc/adolc_openmp.h -text
adolc/adolc_sparse.h -text
adolc/adouble.cpp -text
adolc/adouble.h -text
adolc/adutils.h -text
adolc/adutilsc.h -text
adolc/buffer_temp.h -text
adolc/checkpointing.cpp -text
adolc/checkpointing.h -text
adolc/checkpointing_p.h -text
adolc/common.h -text
adolc/config.h.in -text
adolc/convolut.c -text
adolc/convolut.h -text
adolc/drivers/Makefile.am -text
adolc/drivers/Makefile.in -text
adolc/drivers/Makefile.win -text
adolc/drivers/drivers.c -text
adolc/drivers/drivers.h -text
adolc/drivers/driversf.c -text
adolc/drivers/odedrivers.c -text
adolc/drivers/odedrivers.h -text
adolc/drivers/odedriversf.c -text
adolc/drivers/taylor.c -text
adolc/drivers/taylor.h -text
adolc/dvlparms.h -text
adolc/externfcts.cpp -text
adolc/externfcts.h -text
adolc/externfcts_p.h -text
adolc/fixpoint.cpp -text
adolc/fixpoint.h -text
adolc/fo_rev.c -text
adolc/fortutils.c -text
adolc/fortutils.h -text
adolc/forward_partx.c -text
adolc/fos_forward.c -text
adolc/fos_reverse.c -text
adolc/fov_forward.c -text
adolc/fov_offset_forward.c -text
adolc/fov_reverse.c -text
adolc/ho_rev.c -text
adolc/hos_forward.c -text
adolc/hos_ov_reverse.c -text
adolc/hos_reverse.c -text
adolc/hov_forward.c -text
adolc/hov_reverse.c -text
adolc/hov_wk_forward.c -text
adolc/indopro_forward_s.c -text
adolc/indopro_forward_t.c -text
adolc/int_forward_s.c -text
adolc/int_forward_t.c -text
adolc/int_reverse_s.c -text
adolc/int_reverse_t.c -text
adolc/interfaces.cpp -text
adolc/interfaces.h -text
adolc/interfacesf.c -text
adolc/malloc.c -text
adolc/malloc.h -text
adolc/nonl_ind_forward_s.c -text
adolc/nonl_ind_forward_t.c -text
adolc/oplate.h -text
adolc/revolve.c -text
adolc/revolve.h -text
adolc/sparse/Makefile.am -text
adolc/sparse/Makefile.in -text
adolc/sparse/Makefile.win -text
adolc/sparse/sparse_fo_rev.cpp -text
adolc/sparse/sparse_fo_rev.h -text
adolc/sparse/sparsedrivers.cpp -text
adolc/sparse/sparsedrivers.h -text
adolc/tape_handling.cpp -text
adolc/tapedoc/Makefile.am -text
adolc/tapedoc/Makefile.in -text
adolc/tapedoc/Makefile.win -text
adolc/tapedoc/tapedoc.c -text
adolc/tapedoc/tapedoc.h -text
adolc/taping.c -text
adolc/taping.h -text
adolc/taping_p.h -text
adolc/uni5_for.c -text
adolc/usrparms.h -text
adolc/zos_forward.c -text
autoconf/config.guess -text
autoconf/config.sub -text
autoconf/depcomp -text
autoconf/install-sh -text
autoconf/ltmain.sh -text
autoconf/missing -text
/comp_win.bat -text
/configure -text
/configure.ac -text
doc/Makefile.am -text
doc/Makefile.in -text
doc/adolc-20.pdf -text
doc/adolc-20.ps -text
doc/adolc-20.tex -text
doc/multiplexed.eps -text
doc/short_ref.pdf -text
doc/short_ref.ps -text
doc/short_ref.tex -text
doc/tap_point.eps -text
doc/tap_point.pdf -text
doc/tapeadv.eps -text
doc/tapebasic.eps -text
examples/Makefile.am -text
examples/Makefile.in -text
examples/Makefile.win -text
examples/README -text
examples/additional_examples/Makefile.am -text
examples/additional_examples/Makefile.in -text
examples/additional_examples/Makefile.win -text
examples/additional_examples/checkpointing/Makefile.am -text
examples/additional_examples/checkpointing/Makefile.in -text
examples/additional_examples/checkpointing/Makefile.win -text
examples/additional_examples/checkpointing/README -text
examples/additional_examples/checkpointing/checkpointing.cpp -text
examples/additional_examples/clock/Makefile.am -text
examples/additional_examples/clock/Makefile.in -text
examples/additional_examples/clock/Makefile.win -text
examples/additional_examples/clock/myclock.cpp -text
examples/additional_examples/clock/myclock.h -text
examples/additional_examples/detexam/Makefile.am -text
examples/additional_examples/detexam/Makefile.in -text
examples/additional_examples/detexam/Makefile.win -text
examples/additional_examples/detexam/README -text
examples/additional_examples/detexam/detexam-old.cpp -text
examples/additional_examples/detexam/detexam.cpp -text
examples/additional_examples/ext_diff_func/Makefile.am -text
examples/additional_examples/ext_diff_func/Makefile.in -text
examples/additional_examples/ext_diff_func/Makefile.win -text
examples/additional_examples/ext_diff_func/README -text
examples/additional_examples/ext_diff_func/ext_diff_func.cpp -text
examples/additional_examples/fixpoint_exam/Makefile.am -text
examples/additional_examples/fixpoint_exam/Makefile.in -text
examples/additional_examples/fixpoint_exam/Makefile.win -text
examples/additional_examples/fixpoint_exam/README -text
examples/additional_examples/fixpoint_exam/fixpoint_exam.cpp -text
examples/additional_examples/helm/Makefile.am -text
examples/additional_examples/helm/Makefile.in -text
examples/additional_examples/helm/Makefile.win -text
examples/additional_examples/helm/README -text
examples/additional_examples/helm/helm-auto-exam.cpp -text
examples/additional_examples/helm/helm-diff-exam.cpp -text
examples/additional_examples/hessmat/Makefile.am -text
examples/additional_examples/hessmat/Makefile.in -text
examples/additional_examples/hessmat/Makefile.win -text
examples/additional_examples/hessmat/README -text
examples/additional_examples/hessmat/hessmat.cpp -text
examples/additional_examples/lighthouse/Makefile.am -text
examples/additional_examples/lighthouse/Makefile.in -text
examples/additional_examples/lighthouse/Makefile.win -text
examples/additional_examples/lighthouse/README -text
examples/additional_examples/lighthouse/cubic-2.cpp -text
examples/additional_examples/lighthouse/cubic-iter-2.cpp -text
examples/additional_examples/lighthouse/cubic-iter.cpp -text
examples/additional_examples/lighthouse/cubic.cpp -text
examples/additional_examples/lufact/LU.cpp -text
examples/additional_examples/lufact/LU.h -text
examples/additional_examples/lufact/LUdet.cpp -text
examples/additional_examples/lufact/LUsolve.cpp -text
examples/additional_examples/lufact/Makefile.am -text
examples/additional_examples/lufact/Makefile.in -text
examples/additional_examples/lufact/Makefile.win -text
examples/additional_examples/lufact/README -text
examples/additional_examples/ode/Makefile.am -text
examples/additional_examples/ode/Makefile.in -text
examples/additional_examples/ode/Makefile.win -text
examples/additional_examples/ode/README -text
examples/additional_examples/ode/vfunc_eutroph.cpp -text
examples/additional_examples/ode/vfunc_fic.cpp -text
examples/additional_examples/ode/vfunc_robertson.cpp -text
examples/additional_examples/ode/vgenodemain.cpp -text
examples/additional_examples/openmp_exam/Makefile.am -text
examples/additional_examples/openmp_exam/Makefile.in -text
examples/additional_examples/openmp_exam/Makefile.win -text
examples/additional_examples/openmp_exam/README -text
examples/additional_examples/openmp_exam/liborpar.cpp -text
examples/additional_examples/openmp_exam/liborser.cpp -text
examples/additional_examples/pow/Makefile.am -text
examples/additional_examples/pow/Makefile.in -text
examples/additional_examples/pow/Makefile.win -text
examples/additional_examples/pow/README -text
examples/additional_examples/pow/powexam.cpp -text
examples/additional_examples/scal/Makefile.am -text
examples/additional_examples/scal/Makefile.in -text
examples/additional_examples/scal/Makefile.win -text
examples/additional_examples/scal/README -text
examples/additional_examples/scal/scalexam.cpp -text
examples/additional_examples/sparse/Makefile.am -text
examples/additional_examples/sparse/Makefile.in -text
examples/additional_examples/sparse/Makefile.win -text
examples/additional_examples/sparse/README -text
examples/additional_examples/sparse/jacpatexam.cpp -text
examples/additional_examples/sparse/sparse_hessian.cpp -text
examples/additional_examples/sparse/sparse_jacobian.cpp -text
examples/additional_examples/speelpenning/Makefile.am -text
examples/additional_examples/speelpenning/Makefile.in -text
examples/additional_examples/speelpenning/Makefile.win -text
examples/additional_examples/speelpenning/README -text
examples/additional_examples/speelpenning/speelpenning.cpp -text
examples/additional_examples/tapesave/Makefile.am -text
examples/additional_examples/tapesave/Makefile.in -text
examples/additional_examples/tapesave/Makefile.win -text
examples/additional_examples/tapesave/README -text
examples/additional_examples/tapesave/createTape.cpp -text
examples/additional_examples/tapesave/useTape.cpp -text
examples/additional_examples/taylor/Makefile.am -text
examples/additional_examples/taylor/Makefile.in -text
examples/additional_examples/taylor/Makefile.win -text
examples/additional_examples/taylor/README -text
examples/additional_examples/taylor/accessexam.cpp -text
examples/additional_examples/taylor/coordinates.cpp -text
examples/additional_examples/taylor/inversexam.cpp -text
examples/additional_examples/taylor/taylorexam.cpp -text
examples/additional_examples/taylor/trigger.cpp -text
examples/additional_examples/timing/Makefile.am -text
examples/additional_examples/timing/Makefile.in -text
examples/additional_examples/timing/Makefile.win -text
examples/additional_examples/timing/README -text
examples/additional_examples/timing/detexam.ctrl -text
examples/additional_examples/timing/eutrophexam.ctrl -text
examples/additional_examples/timing/experimental.ctrl -text
examples/additional_examples/timing/ficexam.ctrl -text
examples/additional_examples/timing/gearexam.ctrl -text
examples/additional_examples/timing/griewankexam.ctrl -text
examples/additional_examples/timing/helmholtzexam.ctrl -text
examples/additional_examples/timing/michalewitzexam.ctrl -text
examples/additional_examples/timing/pargearexam.ctrl -text
examples/additional_examples/timing/powexam.ctrl -text
examples/additional_examples/timing/robertsonexam.ctrl -text
examples/additional_examples/timing/rosenbrockexam.ctrl -text
examples/additional_examples/timing/rotations.cpp -text
examples/additional_examples/timing/rotations.h -text
examples/additional_examples/timing/sfunc_determinant.cpp -text
examples/additional_examples/timing/sfunc_experimental.cpp -text
examples/additional_examples/timing/sfunc_griewank.cpp -text
examples/additional_examples/timing/sfunc_helmholtz.cpp -text
examples/additional_examples/timing/sfunc_michalewitz.cpp -text
examples/additional_examples/timing/sfunc_power.cpp -text
examples/additional_examples/timing/sfunc_rosenbrock.cpp -text
examples/additional_examples/timing/sfunc_speelpenning.cpp -text
examples/additional_examples/timing/sgenmain.cpp -text
examples/additional_examples/timing/shuttlexam.ctrl -text
examples/additional_examples/timing/simplevec.ctrl -text
examples/additional_examples/timing/speelpenning.ctrl -text
examples/additional_examples/timing/vfunc_gear.cpp -text
examples/additional_examples/timing/vfunc_pargear.cpp -text
examples/additional_examples/timing/vfunc_shuttle.cpp -text
examples/additional_examples/timing/vfunc_simplevec.cpp -text
examples/additional_examples/timing/vgenmain.cpp -text
examples/detexam.cpp -text
examples/odexam.cpp -text
examples/powexam.cpp -text
examples/speelpenning.cpp -text
examples/tapeless_scalar.cpp -text
examples/tapeless_vector.cpp -text
/make_32 -text
/make_64 -text
/winflags_dll -text
/winflags_exa -text
