*.o
*.lo
*.la
*.a
*.so
*.spec
.deps
.libs
*~
*.bak
Makefile.in
Makefile
autoconf/*
!autoconf/*.m4
!autoconf/*.in
configure
aclocal.m4
stamp-h1
autom4te.cache
config.log
config.guess
config.status
libtool
doltcompile
doltlibtool
resource.h
