* text=auto !eol
trunk/ADOL-C/Makefile.am -text
trunk/ADOL-C/Makefile.in -text
trunk/ADOL-C/doc/adolc-manual.pdf -text
trunk/ADOL-C/doc/adolc-manual.ps -text
trunk/ADOL-C/doc/adolc-manual.tex -text
trunk/ADOL-C/doc/multiplexed.eps -text
trunk/ADOL-C/doc/multiplexed.pdf -text svneol=unset#unset
trunk/ADOL-C/doc/short_ref.pdf -text
trunk/ADOL-C/doc/short_ref.ps -text
trunk/ADOL-C/doc/short_ref.tex -text
trunk/ADOL-C/doc/tap_point.eps -text
trunk/ADOL-C/doc/tap_point.pdf -text
trunk/ADOL-C/doc/tapeadv.eps -text
trunk/ADOL-C/doc/tapeadv.pdf -text svneol=unset#unset
trunk/ADOL-C/doc/tapebasic.eps -text
trunk/ADOL-C/doc/tapebasic.pdf -text svneol=unset#unset
trunk/ADOL-C/doc/version.tex -text
trunk/ADOL-C/doc/version.tex.in -text
trunk/ADOL-C/examples/Makefile.am -text
trunk/ADOL-C/examples/Makefile.in -text
trunk/ADOL-C/examples/README -text
trunk/ADOL-C/examples/Readme_VC++.txt -text
trunk/ADOL-C/examples/additional_examples/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/checkpointing/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/checkpointing/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/checkpointing/README -text
trunk/ADOL-C/examples/additional_examples/checkpointing/checkpointing.cpp -text
trunk/ADOL-C/examples/additional_examples/clock/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/clock/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/clock/myclock.cpp -text
trunk/ADOL-C/examples/additional_examples/clock/myclock.h -text
trunk/ADOL-C/examples/additional_examples/detexam/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/detexam/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/detexam/README -text
trunk/ADOL-C/examples/additional_examples/detexam/detexam-old.cpp -text
trunk/ADOL-C/examples/additional_examples/detexam/detexam.cpp -text
trunk/ADOL-C/examples/additional_examples/ext_diff_func/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/ext_diff_func/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/ext_diff_func/README -text
trunk/ADOL-C/examples/additional_examples/ext_diff_func/ext_diff_func.cpp -text
trunk/ADOL-C/examples/additional_examples/fixpoint_exam/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/fixpoint_exam/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/fixpoint_exam/README -text
trunk/ADOL-C/examples/additional_examples/fixpoint_exam/fixpoint_exam.cpp -text
trunk/ADOL-C/examples/additional_examples/helm/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/helm/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/helm/README -text
trunk/ADOL-C/examples/additional_examples/helm/helm-auto-exam.cpp -text
trunk/ADOL-C/examples/additional_examples/helm/helm-diff-exam.cpp -text
trunk/ADOL-C/examples/additional_examples/hessmat/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/hessmat/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/hessmat/README -text
trunk/ADOL-C/examples/additional_examples/hessmat/hessmat.cpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1/ADOL-C_NLP.cpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1/ADOL-C_NLP.hpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1/Makefile -text
trunk/ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1/cpp_example.cpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1_sparse/ADOL-C_sparseNLP.cpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1_sparse/ADOL-C_sparseNLP.hpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1_sparse/Makefile -text
trunk/ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1_sparse/cpp_example.cpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA/ADOL-C_NLP.cpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA/ADOL-C_NLP.hpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA/Makefile -text
trunk/ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA/cpp_example.cpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA_sparse/ADOL-C_sparseNLP.cpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA_sparse/ADOL-C_sparseNLP.hpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA_sparse/Makefile -text
trunk/ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA_sparse/cpp_example.cpp -text
trunk/ADOL-C/examples/additional_examples/ipopt/README -text
trunk/ADOL-C/examples/additional_examples/lighthouse/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/lighthouse/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/lighthouse/README -text
trunk/ADOL-C/examples/additional_examples/lighthouse/cubic-2.cpp -text
trunk/ADOL-C/examples/additional_examples/lighthouse/cubic-iter-2.cpp -text
trunk/ADOL-C/examples/additional_examples/lighthouse/cubic-iter.cpp -text
trunk/ADOL-C/examples/additional_examples/lighthouse/cubic.cpp -text
trunk/ADOL-C/examples/additional_examples/lufact/LU.cpp -text
trunk/ADOL-C/examples/additional_examples/lufact/LU.h -text
trunk/ADOL-C/examples/additional_examples/lufact/LUdet.cpp -text
trunk/ADOL-C/examples/additional_examples/lufact/LUsolve.cpp -text
trunk/ADOL-C/examples/additional_examples/lufact/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/lufact/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/lufact/README -text
trunk/ADOL-C/examples/additional_examples/ode/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/ode/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/ode/README -text
trunk/ADOL-C/examples/additional_examples/ode/vfunc_eutroph.cpp -text
trunk/ADOL-C/examples/additional_examples/ode/vfunc_fic.cpp -text
trunk/ADOL-C/examples/additional_examples/ode/vfunc_robertson.cpp -text
trunk/ADOL-C/examples/additional_examples/ode/vgenodemain.cpp -text
trunk/ADOL-C/examples/additional_examples/openmp_exam/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/openmp_exam/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/openmp_exam/README -text
trunk/ADOL-C/examples/additional_examples/openmp_exam/liborpar.cpp -text
trunk/ADOL-C/examples/additional_examples/openmp_exam/liborser.cpp -text
trunk/ADOL-C/examples/additional_examples/pow/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/pow/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/pow/README -text
trunk/ADOL-C/examples/additional_examples/pow/powexam.cpp -text
trunk/ADOL-C/examples/additional_examples/scal/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/scal/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/scal/README -text
trunk/ADOL-C/examples/additional_examples/scal/scalexam.cpp -text
trunk/ADOL-C/examples/additional_examples/sparse/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/sparse/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/sparse/README -text
trunk/ADOL-C/examples/additional_examples/sparse/jacpatexam.cpp -text
trunk/ADOL-C/examples/additional_examples/sparse/sparse_hessian.cpp -text
trunk/ADOL-C/examples/additional_examples/sparse/sparse_jacobian.cpp -text
trunk/ADOL-C/examples/additional_examples/speelpenning/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/speelpenning/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/speelpenning/README -text
trunk/ADOL-C/examples/additional_examples/speelpenning/speelpenning.cpp -text
trunk/ADOL-C/examples/additional_examples/tapesave/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/tapesave/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/tapesave/README -text
trunk/ADOL-C/examples/additional_examples/tapesave/createTape.cpp -text
trunk/ADOL-C/examples/additional_examples/tapesave/useTape.cpp -text
trunk/ADOL-C/examples/additional_examples/taylor/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/taylor/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/taylor/README -text
trunk/ADOL-C/examples/additional_examples/taylor/accessexam.cpp -text
trunk/ADOL-C/examples/additional_examples/taylor/coordinates.cpp -text
trunk/ADOL-C/examples/additional_examples/taylor/inversexam.cpp -text
trunk/ADOL-C/examples/additional_examples/taylor/taylorexam.cpp -text
trunk/ADOL-C/examples/additional_examples/taylor/trigger.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/Makefile.am -text
trunk/ADOL-C/examples/additional_examples/timing/Makefile.in -text
trunk/ADOL-C/examples/additional_examples/timing/README -text
trunk/ADOL-C/examples/additional_examples/timing/detexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/eutrophexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/experimental.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/ficexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/gearexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/griewankexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/helmholtzexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/michalewitzexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/pargearexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/powexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/robertsonexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/rosenbrockexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/rotations.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/rotations.h -text
trunk/ADOL-C/examples/additional_examples/timing/sfunc_determinant.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/sfunc_experimental.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/sfunc_griewank.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/sfunc_helmholtz.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/sfunc_michalewitz.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/sfunc_power.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/sfunc_rosenbrock.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/sfunc_speelpenning.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/sgenmain.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/shuttlexam.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/simplevec.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/speelpenning.ctrl -text
trunk/ADOL-C/examples/additional_examples/timing/vfunc_gear.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/vfunc_pargear.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/vfunc_shuttle.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/vfunc_simplevec.cpp -text
trunk/ADOL-C/examples/additional_examples/timing/vgenmain.cpp -text
trunk/ADOL-C/examples/adolc_examples.sln -text
trunk/ADOL-C/examples/detexam.cpp -text
trunk/ADOL-C/examples/detexam.vcxproj -text
trunk/ADOL-C/examples/odexam.cpp -text
trunk/ADOL-C/examples/odexam.vcxproj -text
trunk/ADOL-C/examples/powexam.cpp -text
trunk/ADOL-C/examples/powexam.vcxproj -text
trunk/ADOL-C/examples/speelpenning.cpp -text
trunk/ADOL-C/examples/speelpenning.vcxproj -text
trunk/ADOL-C/examples/tapeless_scalar.cpp -text
trunk/ADOL-C/examples/tapeless_scalar.vcxproj -text
trunk/ADOL-C/examples/tapeless_vector.cpp -text
trunk/ADOL-C/examples/tapeless_vector.vcxproj -text
trunk/ADOL-C/examples/winpackage.sh -text
trunk/ADOL-C/src/Makefile.am -text
trunk/ADOL-C/src/Makefile.in -text
trunk/ADOL-C/src/adalloc.c -text
trunk/ADOL-C/src/adalloc.h -text
trunk/ADOL-C/src/adolc.h -text
trunk/ADOL-C/src/adolc_openmp.h -text
trunk/ADOL-C/src/adolc_sparse.h -text
trunk/ADOL-C/src/adouble.cpp -text
trunk/ADOL-C/src/adouble.h -text
trunk/ADOL-C/src/adutils.h -text
trunk/ADOL-C/src/adutilsc.h -text
trunk/ADOL-C/src/buffer_temp.h -text
trunk/ADOL-C/src/checkpointing.cpp -text
trunk/ADOL-C/src/checkpointing.h -text
trunk/ADOL-C/src/checkpointing_p.h -text
trunk/ADOL-C/src/common.h -text
trunk/ADOL-C/src/config.h.in -text
trunk/ADOL-C/src/convolut.c -text
trunk/ADOL-C/src/convolut.h -text
trunk/ADOL-C/src/drivers/Makefile.am -text
trunk/ADOL-C/src/drivers/Makefile.in -text
trunk/ADOL-C/src/drivers/drivers.c -text
trunk/ADOL-C/src/drivers/drivers.h -text
trunk/ADOL-C/src/drivers/driversf.c -text
trunk/ADOL-C/src/drivers/odedrivers.c -text
trunk/ADOL-C/src/drivers/odedrivers.h -text
trunk/ADOL-C/src/drivers/odedriversf.c -text
trunk/ADOL-C/src/drivers/taylor.c -text
trunk/ADOL-C/src/drivers/taylor.h -text
trunk/ADOL-C/src/dvlparms.h -text
trunk/ADOL-C/src/externfcts.cpp -text
trunk/ADOL-C/src/externfcts.h -text
trunk/ADOL-C/src/externfcts_p.h -text
trunk/ADOL-C/src/fixpoint.cpp -text
trunk/ADOL-C/src/fixpoint.h -text
trunk/ADOL-C/src/fo_rev.c -text
trunk/ADOL-C/src/fortutils.c -text
trunk/ADOL-C/src/fortutils.h -text
trunk/ADOL-C/src/forward_partx.c -text
trunk/ADOL-C/src/fos_forward.c -text
trunk/ADOL-C/src/fos_reverse.c -text
trunk/ADOL-C/src/fov_forward.c -text
trunk/ADOL-C/src/fov_offset_forward.c -text
trunk/ADOL-C/src/fov_reverse.c -text
trunk/ADOL-C/src/ho_rev.c -text
trunk/ADOL-C/src/hos_forward.c -text
trunk/ADOL-C/src/hos_ov_reverse.c -text
trunk/ADOL-C/src/hos_reverse.c -text
trunk/ADOL-C/src/hov_forward.c -text
trunk/ADOL-C/src/hov_reverse.c -text
trunk/ADOL-C/src/hov_wk_forward.c -text
trunk/ADOL-C/src/indopro_forward_s.c -text
trunk/ADOL-C/src/indopro_forward_t.c -text
trunk/ADOL-C/src/int_forward_s.c -text
trunk/ADOL-C/src/int_forward_t.c -text
trunk/ADOL-C/src/int_reverse_s.c -text
trunk/ADOL-C/src/int_reverse_t.c -text
trunk/ADOL-C/src/interfaces.cpp -text
trunk/ADOL-C/src/interfaces.h -text
trunk/ADOL-C/src/interfacesf.c -text
trunk/ADOL-C/src/malloc.c -text
trunk/ADOL-C/src/malloc.h -text
trunk/ADOL-C/src/nonl_ind_forward_s.c -text
trunk/ADOL-C/src/nonl_ind_forward_t.c -text
trunk/ADOL-C/src/oplate.h -text
trunk/ADOL-C/src/revolve.c -text
trunk/ADOL-C/src/revolve.h -text
trunk/ADOL-C/src/sparse/Makefile.am -text
trunk/ADOL-C/src/sparse/Makefile.in -text
trunk/ADOL-C/src/sparse/sparse_fo_rev.cpp -text
trunk/ADOL-C/src/sparse/sparse_fo_rev.h -text
trunk/ADOL-C/src/sparse/sparsedrivers.cpp -text
trunk/ADOL-C/src/sparse/sparsedrivers.h -text
trunk/ADOL-C/src/storemanager.h -text
trunk/ADOL-C/src/tape_handling.cpp -text
trunk/ADOL-C/src/tapedoc/Makefile.am -text
trunk/ADOL-C/src/tapedoc/Makefile.in -text
trunk/ADOL-C/src/tapedoc/tapedoc.c -text
trunk/ADOL-C/src/tapedoc/tapedoc.h -text
trunk/ADOL-C/src/taping.c -text
trunk/ADOL-C/src/taping.h -text
trunk/ADOL-C/src/taping_p.h -text
trunk/ADOL-C/src/uni5_for.c -text
trunk/ADOL-C/src/usrparms.h -text
trunk/ADOL-C/src/zos_forward.c -text
trunk/ADOL-C/test/Makefile.am -text
trunk/ADOL-C/test/Makefile.in -text
trunk/ADOL-C/test/fminmax.cpp -text
trunk/ADOL-C/test/powexam.cpp -text
trunk/ADOL-C/test/run_tests -text
trunk/ADOL-C/test/speelpenning.cpp -text
trunk/AUTHORS -text
trunk/BUGS -text
trunk/ChangeLog -text
trunk/INSTALL -text
trunk/LICENSE -text
trunk/MSVisualStudio/v10/Readme_VC++.txt -text
trunk/MSVisualStudio/v10/adolc.sln -text
trunk/MSVisualStudio/v10/adolc.vcxproj -text
trunk/MSVisualStudio/v10/installer.sh -text
trunk/MSVisualStudio/v10/nosparse/config.h -text
trunk/MSVisualStudio/v10/nosparse/config.h.in -text
trunk/MSVisualStudio/v10/sparse/config.h -text
trunk/MSVisualStudio/v10/sparse/config.h.in -text
trunk/MSVisualStudio/v10/vcredist_x86.exe -text svneol=unset#unset
trunk/MSVisualStudio/v10/x64/nosparse/config.h -text
trunk/MSVisualStudio/v10/x64/nosparse/config.h.in -text
trunk/MSVisualStudio/v10/x64/sparse/config.h -text
trunk/MSVisualStudio/v10/x64/sparse/config.h.in -text
trunk/MSVisualStudio/v10/x64/vcredist_x64.exe -text svneol=unset#unset
trunk/Makefile.am -text
trunk/Makefile.in -text
trunk/NEWS -text
trunk/README -text
trunk/TODO -text
trunk/ThirdParty/ColPack/ColPack.vcxproj -text
trunk/ThirdParty/ColPack/Readme_VC++.txt -text
trunk/acinclude.m4 -text
trunk/aclocal.m4 -text
trunk/adolc.spec -text
trunk/adolc.spec.in -text
trunk/autoconf/config.guess -text
trunk/autoconf/config.sub -text
trunk/autoconf/depcomp -text
trunk/autoconf/dolt.m4 -text
trunk/autoconf/install-sh -text
trunk/autoconf/ltmain.sh -text
trunk/autoconf/missing -text
trunk/autoconf/shave-libtool.in -text
trunk/autoconf/shave.in -text
trunk/autoconf/shave.m4 -text
trunk/configure -text
trunk/configure.ac -text
trunk/update_versions.sh -text
