*.o
*.lo
*.la
*.a
*.so
*.spec
*.orig
.deps
.libs
*~
*.bak
adolc.pc
Makefile.in
Makefile
autoconf/libtool.m4
autoconf/ltoptions.m4
autoconf/ltsugar.m4
autoconf/ltversion.m4
autoconf/lt~obsolete.m4
autoconf/config.sub
autoconf/depcomp
autoconf/install-sh
autoconf/ltmain.sh
autoconf/missing
autoconf/shave
autoconf/shave-libtool
configure
aclocal.m4
stamp-h1
autom4te.cache
config.log
config.guess
config.status
libtool
doltcompile
doltlibtool
resource.h
.project
.cproject
.autotools
ADOL-C/adolc
ADOL-C/include/adolc/internal/adolc_settings.h
ADOL-C/examples/additional_examples/checkpointing/checkpointing
ADOL-C/examples/additional_examples/checkpointing/*.tap
ADOL-C/examples/additional_examples/detexam/detexam
ADOL-C/examples/additional_examples/detexam/detexam-old
ADOL-C/examples/additional_examples/ext_diff_func/ext_diff_func
ADOL-C/examples/additional_examples/fixpoint_exam/fixpoint_exam
ADOL-C/examples/additional_examples/fixpoint_exam/*.tap
ADOL-C/examples/additional_examples/helm/helm-auto
ADOL-C/examples/additional_examples/helm/helm-diff
ADOL-C/examples/additional_examples/hessmat/hessmat
ADOL-C/examples/additional_examples/lighthouse/cubic
ADOL-C/examples/additional_examples/lighthouse/cubic-2
ADOL-C/examples/additional_examples/lighthouse/cubic-iter
ADOL-C/examples/additional_examples/lighthouse/cubic-iter-2
ADOL-C/examples/additional_examples/lufact/LUdet
ADOL-C/examples/additional_examples/lufact/LUsolve
ADOL-C/examples/additional_examples/ode/od2exam
ADOL-C/examples/additional_examples/ode/od3exam
ADOL-C/examples/additional_examples/ode/odexam
ADOL-C/examples/additional_examples/pow/powexam
ADOL-C/examples/additional_examples/scal/scalexam
ADOL-C/examples/additional_examples/speelpenning/speelpenning
ADOL-C/examples/additional_examples/tapesave/createTape
ADOL-C/examples/additional_examples/tapesave/useTape
ADOL-C/examples/additional_examples/taylor/accessexam
ADOL-C/examples/additional_examples/taylor/coordinates
ADOL-C/examples/additional_examples/taylor/inversexam
ADOL-C/examples/additional_examples/taylor/taylorexam
ADOL-C/examples/additional_examples/taylor/trigger
ADOL-C/examples/additional_examples/timing/detexam
ADOL-C/examples/additional_examples/timing/eutrophexam
ADOL-C/examples/additional_examples/timing/experimental
ADOL-C/examples/additional_examples/timing/ficexam
ADOL-C/examples/additional_examples/timing/gearexam
ADOL-C/examples/additional_examples/timing/griewankexam
ADOL-C/examples/additional_examples/timing/helmholtzexam
ADOL-C/examples/additional_examples/timing/michalewitzexam
ADOL-C/examples/additional_examples/timing/pargearexam
ADOL-C/examples/additional_examples/timing/powexam
ADOL-C/examples/additional_examples/timing/robertsonexam
ADOL-C/examples/additional_examples/timing/rosenbrockexam
ADOL-C/examples/additional_examples/timing/shuttlexam
ADOL-C/examples/additional_examples/timing/simplevec
ADOL-C/examples/additional_examples/timing/speelpenning
ADOL-C/examples/detexam
ADOL-C/examples/luexam
ADOL-C/examples/odexam
ADOL-C/examples/powexam
ADOL-C/examples/speelpenning
ADOL-C/examples/tapeless_scalar
ADOL-C/examples/tapeless_vector
ADOL-C/test/fminmax
ADOL-C/doc/adolc-manual.aux
ADOL-C/doc/adolc-manual.log
ADOL-C/doc/adolc-manual.out
ADOL-C/doc/adolc-manual.toc
ADOL-C/doc/adolc-manual.dvi
