* text=auto !eol
.coin-or/projDesc.xml -text
ADOL-C/Makefile.am -text
ADOL-C/Makefile.in -text
ADOL-C/boost-test/CMakeLists.txt -text
ADOL-C/boost-test/README -text
ADOL-C/boost-test/const.h -text
ADOL-C/boost-test/main.cpp -text
ADOL-C/boost-test/traceCompositeTests.cpp -text
ADOL-C/boost-test/traceOperatorScalar.cpp -text
ADOL-C/boost-test/traceOperatorVector.cpp -text
ADOL-C/boost-test/traceSecOrderScalar.cpp -text
ADOL-C/boost-test/traceSecOrderVector.cpp -text
ADOL-C/boost-test/tracelessCompositeTests.cpp -text
ADOL-C/boost-test/tracelessOperatorScalar.cpp -text
ADOL-C/boost-test/tracelessOperatorVector.cpp -text
ADOL-C/doc/absdrivers.tex -text
ADOL-C/doc/adolc-manual.pdf -text
ADOL-C/doc/adolc-manual.ps -text
ADOL-C/doc/adolc-manual.tex -text
ADOL-C/doc/multiplexed.eps -text
ADOL-C/doc/multiplexed.pdf -text svneol=unset#unset
ADOL-C/doc/short_ref.pdf -text
ADOL-C/doc/short_ref.ps -text
ADOL-C/doc/short_ref.tex -text
ADOL-C/doc/tap_point.eps -text
ADOL-C/doc/tap_point.pdf -text
ADOL-C/doc/tapeadv.eps -text
ADOL-C/doc/tapeadv.pdf -text svneol=unset#unset
ADOL-C/doc/tapebasic.eps -text
ADOL-C/doc/tapebasic.pdf -text svneol=unset#unset
ADOL-C/doc/version.tex -text
ADOL-C/doc/version.tex.in -text
ADOL-C/examples/Makefile.am -text
ADOL-C/examples/Makefile.in -text
ADOL-C/examples/README -text
ADOL-C/examples/Readme_VC++.txt -text
ADOL-C/examples/additional_examples/Makefile.am -text
ADOL-C/examples/additional_examples/Makefile.in -text
ADOL-C/examples/additional_examples/checkpointing/Makefile.am -text
ADOL-C/examples/additional_examples/checkpointing/Makefile.in -text
ADOL-C/examples/additional_examples/checkpointing/README -text
ADOL-C/examples/additional_examples/checkpointing/checkpointing.cpp -text
ADOL-C/examples/additional_examples/clock/Makefile.am -text
ADOL-C/examples/additional_examples/clock/Makefile.in -text
ADOL-C/examples/additional_examples/clock/myclock.cpp -text
ADOL-C/examples/additional_examples/clock/myclock.h -text
ADOL-C/examples/additional_examples/cuda/Makefile.am -text
ADOL-C/examples/additional_examples/cuda/Makefile.in -text
ADOL-C/examples/additional_examples/cuda/liborgpu.cu -text
ADOL-C/examples/additional_examples/cuda/traceless_cuda.cu -text
ADOL-C/examples/additional_examples/detexam/Makefile.am -text
ADOL-C/examples/additional_examples/detexam/Makefile.in -text
ADOL-C/examples/additional_examples/detexam/README -text
ADOL-C/examples/additional_examples/detexam/detexam-old.cpp -text
ADOL-C/examples/additional_examples/detexam/detexam.cpp -text
ADOL-C/examples/additional_examples/ext_diff_func/Makefile.am -text
ADOL-C/examples/additional_examples/ext_diff_func/Makefile.in -text
ADOL-C/examples/additional_examples/ext_diff_func/README -text
ADOL-C/examples/additional_examples/ext_diff_func/edfootest.cpp -text
ADOL-C/examples/additional_examples/ext_diff_func/ext_diff_func.cpp -text
ADOL-C/examples/additional_examples/fixpoint_exam/Makefile.am -text
ADOL-C/examples/additional_examples/fixpoint_exam/Makefile.in -text
ADOL-C/examples/additional_examples/fixpoint_exam/README -text
ADOL-C/examples/additional_examples/fixpoint_exam/fixpoint_exam.cpp -text
ADOL-C/examples/additional_examples/helm/Makefile.am -text
ADOL-C/examples/additional_examples/helm/Makefile.in -text
ADOL-C/examples/additional_examples/helm/README -text
ADOL-C/examples/additional_examples/helm/helm-auto-exam.cpp -text
ADOL-C/examples/additional_examples/helm/helm-diff-exam.cpp -text
ADOL-C/examples/additional_examples/hessmat/Makefile.am -text
ADOL-C/examples/additional_examples/hessmat/Makefile.in -text
ADOL-C/examples/additional_examples/hessmat/README -text
ADOL-C/examples/additional_examples/hessmat/hessmat.cpp -text
ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1/ADOL-C_NLP.cpp -text
ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1/ADOL-C_NLP.hpp -text
ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1/Makefile -text
ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1/cpp_example.cpp -text
ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1_sparse/ADOL-C_sparseNLP.cpp -text
ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1_sparse/ADOL-C_sparseNLP.hpp -text
ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1_sparse/Makefile -text
ADOL-C/examples/additional_examples/ipopt/LuksanVlcek1_sparse/cpp_example.cpp -text
ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA/ADOL-C_NLP.cpp -text
ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA/ADOL-C_NLP.hpp -text
ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA/Makefile -text
ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA/cpp_example.cpp -text
ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA_sparse/ADOL-C_sparseNLP.cpp -text
ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA_sparse/ADOL-C_sparseNLP.hpp -text
ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA_sparse/Makefile -text
ADOL-C/examples/additional_examples/ipopt/MittelmannDistCntrlNeumA_sparse/cpp_example.cpp -text
ADOL-C/examples/additional_examples/ipopt/README -text
ADOL-C/examples/additional_examples/lie/GantryCrane.cpp -text
ADOL-C/examples/additional_examples/lie/Makefile.am -text
ADOL-C/examples/additional_examples/lie/Makefile.in -text
ADOL-C/examples/additional_examples/lighthouse/Makefile.am -text
ADOL-C/examples/additional_examples/lighthouse/Makefile.in -text
ADOL-C/examples/additional_examples/lighthouse/README -text
ADOL-C/examples/additional_examples/lighthouse/cubic-2.cpp -text
ADOL-C/examples/additional_examples/lighthouse/cubic-iter-2.cpp -text
ADOL-C/examples/additional_examples/lighthouse/cubic-iter.cpp -text
ADOL-C/examples/additional_examples/lighthouse/cubic.cpp -text
ADOL-C/examples/additional_examples/lufact/LU.cpp -text
ADOL-C/examples/additional_examples/lufact/LU.h -text
ADOL-C/examples/additional_examples/lufact/LUdet.cpp -text
ADOL-C/examples/additional_examples/lufact/LUsolve.cpp -text
ADOL-C/examples/additional_examples/lufact/Makefile.am -text
ADOL-C/examples/additional_examples/lufact/Makefile.in -text
ADOL-C/examples/additional_examples/lufact/README -text
ADOL-C/examples/additional_examples/ode/Makefile.am -text
ADOL-C/examples/additional_examples/ode/Makefile.in -text
ADOL-C/examples/additional_examples/ode/README -text
ADOL-C/examples/additional_examples/ode/vfunc_eutroph.cpp -text
ADOL-C/examples/additional_examples/ode/vfunc_fic.cpp -text
ADOL-C/examples/additional_examples/ode/vfunc_robertson.cpp -text
ADOL-C/examples/additional_examples/ode/vgenodemain.cpp -text
ADOL-C/examples/additional_examples/openmp_exam/Makefile.am -text
ADOL-C/examples/additional_examples/openmp_exam/Makefile.in -text
ADOL-C/examples/additional_examples/openmp_exam/README -text
ADOL-C/examples/additional_examples/openmp_exam/liborpar.cpp -text
ADOL-C/examples/additional_examples/openmp_exam/liborser.cpp -text
ADOL-C/examples/additional_examples/param/Makefile.am -text
ADOL-C/examples/additional_examples/param/Makefile.in -text
ADOL-C/examples/additional_examples/param/paramexam.cpp -text
ADOL-C/examples/additional_examples/pow/Makefile.am -text
ADOL-C/examples/additional_examples/pow/Makefile.in -text
ADOL-C/examples/additional_examples/pow/README -text
ADOL-C/examples/additional_examples/pow/powexam.cpp -text
ADOL-C/examples/additional_examples/scal/Makefile.am -text
ADOL-C/examples/additional_examples/scal/Makefile.in -text
ADOL-C/examples/additional_examples/scal/README -text
ADOL-C/examples/additional_examples/scal/scalexam.cpp -text
ADOL-C/examples/additional_examples/sparse/Makefile.am -text
ADOL-C/examples/additional_examples/sparse/Makefile.in -text
ADOL-C/examples/additional_examples/sparse/README -text
ADOL-C/examples/additional_examples/sparse/jacpatexam.cpp -text
ADOL-C/examples/additional_examples/sparse/sparse_hessian.cpp -text
ADOL-C/examples/additional_examples/sparse/sparse_jacobian.cpp -text
ADOL-C/examples/additional_examples/speelpenning/Makefile.am -text
ADOL-C/examples/additional_examples/speelpenning/Makefile.in -text
ADOL-C/examples/additional_examples/speelpenning/README -text
ADOL-C/examples/additional_examples/speelpenning/speelpenning.cpp -text
ADOL-C/examples/additional_examples/tapesave/Makefile.am -text
ADOL-C/examples/additional_examples/tapesave/Makefile.in -text
ADOL-C/examples/additional_examples/tapesave/README -text
ADOL-C/examples/additional_examples/tapesave/createTape.cpp -text
ADOL-C/examples/additional_examples/tapesave/useTape.cpp -text
ADOL-C/examples/additional_examples/taylor/Makefile.am -text
ADOL-C/examples/additional_examples/taylor/Makefile.in -text
ADOL-C/examples/additional_examples/taylor/README -text
ADOL-C/examples/additional_examples/taylor/accessexam.cpp -text
ADOL-C/examples/additional_examples/taylor/coordinates.cpp -text
ADOL-C/examples/additional_examples/taylor/inversexam.cpp -text
ADOL-C/examples/additional_examples/taylor/taylorexam.cpp -text
ADOL-C/examples/additional_examples/taylor/trigger.cpp -text
ADOL-C/examples/additional_examples/timing/Makefile.am -text
ADOL-C/examples/additional_examples/timing/Makefile.in -text
ADOL-C/examples/additional_examples/timing/README -text
ADOL-C/examples/additional_examples/timing/detexam.ctrl -text
ADOL-C/examples/additional_examples/timing/eutrophexam.ctrl -text
ADOL-C/examples/additional_examples/timing/experimental.ctrl -text
ADOL-C/examples/additional_examples/timing/ficexam.ctrl -text
ADOL-C/examples/additional_examples/timing/gearexam.ctrl -text
ADOL-C/examples/additional_examples/timing/griewankexam.ctrl -text
ADOL-C/examples/additional_examples/timing/helmholtzexam.ctrl -text
ADOL-C/examples/additional_examples/timing/michalewitzexam.ctrl -text
ADOL-C/examples/additional_examples/timing/pargearexam.ctrl -text
ADOL-C/examples/additional_examples/timing/powexam.ctrl -text
ADOL-C/examples/additional_examples/timing/robertsonexam.ctrl -text
ADOL-C/examples/additional_examples/timing/rosenbrockexam.ctrl -text
ADOL-C/examples/additional_examples/timing/rotations.cpp -text
ADOL-C/examples/additional_examples/timing/rotations.h -text
ADOL-C/examples/additional_examples/timing/sfunc_determinant.cpp -text
ADOL-C/examples/additional_examples/timing/sfunc_experimental.cpp -text
ADOL-C/examples/additional_examples/timing/sfunc_griewank.cpp -text
ADOL-C/examples/additional_examples/timing/sfunc_helmholtz.cpp -text
ADOL-C/examples/additional_examples/timing/sfunc_michalewitz.cpp -text
ADOL-C/examples/additional_examples/timing/sfunc_power.cpp -text
ADOL-C/examples/additional_examples/timing/sfunc_rosenbrock.cpp -text
ADOL-C/examples/additional_examples/timing/sfunc_speelpenning.cpp -text
ADOL-C/examples/additional_examples/timing/sgenmain.cpp -text
ADOL-C/examples/additional_examples/timing/shuttlexam.ctrl -text
ADOL-C/examples/additional_examples/timing/simplevec.ctrl -text
ADOL-C/examples/additional_examples/timing/speelpenning.ctrl -text
ADOL-C/examples/additional_examples/timing/vfunc_gear.cpp -text
ADOL-C/examples/additional_examples/timing/vfunc_pargear.cpp -text
ADOL-C/examples/additional_examples/timing/vfunc_shuttle.cpp -text
ADOL-C/examples/additional_examples/timing/vfunc_simplevec.cpp -text
ADOL-C/examples/additional_examples/timing/vgenmain.cpp -text
ADOL-C/examples/adolc_examples.sln -text
ADOL-C/examples/detexam.cpp -text
ADOL-C/examples/detexam.vcxproj -text
ADOL-C/examples/luexam.cpp -text
ADOL-C/examples/odexam.cpp -text
ADOL-C/examples/odexam.vcxproj -text
ADOL-C/examples/powexam.cpp -text
ADOL-C/examples/powexam.vcxproj -text
ADOL-C/examples/speelpenning.cpp -text
ADOL-C/examples/speelpenning.vcxproj -text
ADOL-C/examples/tapeless_scalar.cpp -text
ADOL-C/examples/tapeless_scalar.vcxproj -text
ADOL-C/examples/tapeless_vector.cpp -text
ADOL-C/examples/tapeless_vector.vcxproj -text
ADOL-C/examples/traceless_higher_order.cpp -text
ADOL-C/examples/traceless_vector_indo.cpp -text
ADOL-C/examples/winpackage.sh -text
ADOL-C/include/Makefile.am -text
ADOL-C/include/Makefile.in -text
ADOL-C/include/adolc/Makefile.am -text
ADOL-C/include/adolc/Makefile.in -text
ADOL-C/include/adolc/adalloc.h -text
ADOL-C/include/adolc/adolc.h -text
ADOL-C/include/adolc/adolc_fatalerror.h -text
ADOL-C/include/adolc/adolc_openmp.h -text
ADOL-C/include/adolc/adolc_sparse.h -text
ADOL-C/include/adolc/adtb_types.h -text
ADOL-C/include/adolc/adoublecuda.h -text
ADOL-C/include/adolc/adtl.h -text
ADOL-C/include/adolc/adtl_hov.h -text
ADOL-C/include/adolc/adtl_indo.h -text
ADOL-C/include/adolc/adutils.h -text
ADOL-C/include/adolc/adutilsc.h -text
ADOL-C/include/adolc/advector.h -text
ADOL-C/include/adolc/checkpointing.h -text
ADOL-C/include/adolc/convolut.h -text
ADOL-C/include/adolc/drivers/Makefile.am -text
ADOL-C/include/adolc/drivers/Makefile.in -text
ADOL-C/include/adolc/drivers/drivers.h -text
ADOL-C/include/adolc/drivers/odedrivers.h -text
ADOL-C/include/adolc/drivers/psdrivers.h -text
ADOL-C/include/adolc/drivers/taylor.h -text
ADOL-C/include/adolc/edfclasses.h -text
ADOL-C/include/adolc/externfcts.h -text
ADOL-C/include/adolc/externfcts2.h -text
ADOL-C/include/adolc/fixpoint.h -text
ADOL-C/include/adolc/fortutils.h -text
ADOL-C/include/adolc/interfaces.h -text
ADOL-C/include/adolc/internal/Makefile.am -text
ADOL-C/include/adolc/internal/Makefile.in -text
ADOL-C/include/adolc/internal/adolc_settings.h -text
ADOL-C/include/adolc/internal/adolc_settings.h.in -text
ADOL-C/include/adolc/internal/adubfunc.h -text
ADOL-C/include/adolc/internal/common.h -text
ADOL-C/include/adolc/internal/paramfunc.h -text
ADOL-C/include/adolc/internal/usrparms.h -text
ADOL-C/include/adolc/lie/Makefile.am -text
ADOL-C/include/adolc/lie/Makefile.in -text
ADOL-C/include/adolc/lie/drivers.h -text
ADOL-C/include/adolc/medipacksupport.h -text
ADOL-C/include/adolc/adtb_types.h -text
ADOL-C/include/adolc/revolve.h -text
ADOL-C/include/adolc/sparse/Makefile.am -text
ADOL-C/include/adolc/sparse/Makefile.in -text
ADOL-C/include/adolc/sparse/sparse_fo_rev.h -text
ADOL-C/include/adolc/sparse/sparsedrivers.h -text
ADOL-C/include/adolc/tapedoc/Makefile.am -text
ADOL-C/include/adolc/tapedoc/Makefile.in -text
ADOL-C/include/adolc/tapedoc/tapedoc.h -text
ADOL-C/include/adolc/taping.h -text
ADOL-C/src/Makefile.am -text
ADOL-C/src/Makefile.in -text
ADOL-C/src/adalloc.c -text
ADOL-C/src/adouble.cpp -text
ADOL-C/src/adouble_tl.cpp -text
ADOL-C/src/adouble_tl_hov.cpp -text
ADOL-C/src/adouble_tl_indo.cpp -text
ADOL-C/src/advector.cpp -text
ADOL-C/src/ampisupport.cpp -text
ADOL-C/src/ampisupportAdolc.cpp -text
ADOL-C/src/ampisupportAdolc.h -text
ADOL-C/src/buffer_temp.h -text
ADOL-C/src/checkpointing.cpp -text
ADOL-C/src/checkpointing_p.h -text
ADOL-C/src/config.h.in -text
ADOL-C/src/convolut.c -text
ADOL-C/src/drivers/Makefile.am -text
ADOL-C/src/drivers/Makefile.in -text
ADOL-C/src/drivers/drivers.c -text
ADOL-C/src/drivers/driversf.c -text
ADOL-C/src/drivers/odedrivers.c -text
ADOL-C/src/drivers/odedriversf.c -text
ADOL-C/src/drivers/psdrivers.c -text
ADOL-C/src/drivers/psdriversf.c -text
ADOL-C/src/drivers/taylor.c -text
ADOL-C/src/dvlparms.h -text
ADOL-C/src/externfcts.cpp -text
ADOL-C/src/externfcts2.cpp -text
ADOL-C/src/externfcts_p.h -text
ADOL-C/src/fixpoint.cpp -text
ADOL-C/src/fo_rev.c -text
ADOL-C/src/fortutils.c -text
ADOL-C/src/forward_partx.c -text
ADOL-C/src/fos_forward.c -text
ADOL-C/src/fos_pl_forward.c -text
ADOL-C/src/fos_pl_reverse.c -text
ADOL-C/src/fos_pl_sig_forward.c -text
ADOL-C/src/fos_pl_sig_reverse.c -text
ADOL-C/src/fos_reverse.c -text
ADOL-C/src/fov_forward.c -text
ADOL-C/src/fov_offset_forward.c -text
ADOL-C/src/fov_pl_forward.c -text
ADOL-C/src/fov_pl_sig_forward.c -text
ADOL-C/src/fov_reverse.c -text
ADOL-C/src/ho_rev.c -text
ADOL-C/src/hos_forward.c -text
ADOL-C/src/hos_ov_reverse.c -text
ADOL-C/src/hos_reverse.c -text
ADOL-C/src/hov_forward.c -text
ADOL-C/src/hov_reverse.c -text
ADOL-C/src/hov_wk_forward.c -text
ADOL-C/src/indopro_forward_pl.c -text
ADOL-C/src/indopro_forward_s.c -text
ADOL-C/src/indopro_forward_t.c -text
ADOL-C/src/int_forward_s.c -text
ADOL-C/src/int_forward_t.c -text
ADOL-C/src/int_reverse_s.c -text
ADOL-C/src/int_reverse_t.c -text
ADOL-C/src/interfaces.cpp -text
ADOL-C/src/interfacesf.c -text
ADOL-C/src/lie/Makefile.am -text
ADOL-C/src/lie/Makefile.in -text
ADOL-C/src/lie/adolc_lie.cpp -text
ADOL-C/src/lie/adolc_lie_c.c -text
ADOL-C/src/medipacksupport.cpp -text
ADOL-C/src/medipacksupport_p.h -text
ADOL-C/src/nonl_ind_forward_s.c -text
ADOL-C/src/nonl_ind_forward_t.c -text
ADOL-C/src/nonl_ind_old_forward_s.c -text
ADOL-C/src/nonl_ind_old_forward_t.c -text
ADOL-C/src/oplate.h -text
ADOL-C/src/param.cpp -text
ADOL-C/src/revolve.c -text
ADOL-C/src/rpl_malloc.c -text
ADOL-C/src/rpl_malloc.h -text
ADOL-C/src/sparse/Makefile.am -text
ADOL-C/src/sparse/Makefile.in -text
ADOL-C/src/sparse/sparse_fo_rev.cpp -text
ADOL-C/src/sparse/sparsedrivers.cpp -text
ADOL-C/src/storemanager.h -text
ADOL-C/src/tape_handling.cpp -text
ADOL-C/src/tapedoc/Makefile.am -text
ADOL-C/src/tapedoc/Makefile.in -text
ADOL-C/src/tapedoc/tapedoc.c -text
ADOL-C/src/taping.c -text
ADOL-C/src/taping_p.h -text
ADOL-C/src/uni5_for.c -text
ADOL-C/src/zos_forward.c -text
ADOL-C/src/zos_pl_forward.c -text
ADOL-C/swig/0001-R-add-typemap-argout-and-fix-code-generation.patch -text
ADOL-C/swig/0002-R-Added-typemaps-for-handling-matrices-as-double.patch -text
ADOL-C/swig/Makefile.am -text
ADOL-C/swig/Makefile.in -text
ADOL-C/swig/adolc-R-manual-changes.diff -text
ADOL-C/swig/adolc-numpy-drv.i -text
ADOL-C/swig/adolc-numpy-for.i -text
ADOL-C/swig/adolc-numpy-rev.i -text
ADOL-C/swig/adolc-oct-drv.i -text
ADOL-C/swig/adolc-octave.i -text
ADOL-C/swig/adolc-python.i -text
ADOL-C/swig/adolc-r.i -text
ADOL-C/swig/adolc_all_in.hpp -text
ADOL-C/swig/adubswigfuncs.hpp -text
ADOL-C/swig/examples/euler_step.py -text
ADOL-C/swig/examples/test.py -text
ADOL-C/swig/init_adolc.R -text
ADOL-C/swig/matrixmemory.hpp -text
ADOL-C/swig/numpy.i -text
ADOL-C/swig/octave-types.i -text
ADOL-C/swig/pydirectors.hpp -text
ADOL-C/swig/pyedfclasses.hpp -text
ADOL-C/swig/pyfragments.swg -text
ADOL-C/swig/setup.py -text
ADOL-C/swig/swigprocess.py -text
ADOL-C/test/Makefile.am -text
ADOL-C/test/Makefile.in -text
ADOL-C/test/fminmax.cpp -text
ADOL-C/test/powexam.cpp -text
ADOL-C/test/run_tests -text
ADOL-C/test/speelpenning.cpp -text
/AUTHORS -text
/BUGS -text
/ChangeLog -text
/INSTALL -text
/LICENSE -text
MSVisualStudio/v14/ColPack.vcxproj -text
MSVisualStudio/v14/README_VC++.md -text
MSVisualStudio/v14/adolc.sln -text
MSVisualStudio/v14/adolc.vcxproj -text
MSVisualStudio/v14/installer.sh -text
MSVisualStudio/v14/nosparse/config.h -text
MSVisualStudio/v14/nosparse/config.h.in -text
MSVisualStudio/v14/sparse/config.h -text
MSVisualStudio/v14/sparse/config.h.in -text
MSVisualStudio/v14/vc_redist.x86.exe -text svneol=unset#unset
MSVisualStudio/v14/x64/nosparse/config.h -text
MSVisualStudio/v14/x64/nosparse/config.h.in -text
MSVisualStudio/v14/x64/sparse/config.h -text
MSVisualStudio/v14/x64/sparse/config.h.in -text
MSVisualStudio/v14/x64/vc_redist.x64.exe -text svneol=unset#unset
/Makefile.am -text
/Makefile.in -text
/NEWS -text
/README -text
/TODO -text
/aclocal.m4 -text
/adolc.spec -text
/adolc.spec.in -text
/adolclib.pc.in -text
autoconf/acx_builtin.m4 -text
autoconf/ampi.m4 -text
autoconf/ax_boost_base.m4 -text
autoconf/ax_boost_system.m4 -text
autoconf/colpack.m4 -text
autoconf/compile -text
autoconf/config.guess -text
autoconf/config.sub -text
autoconf/depcomp -text
autoconf/install-sh -text
autoconf/libtool.m4 -text
autoconf/ltmain.sh -text
autoconf/ltoptions.m4 -text
autoconf/ltsugar.m4 -text
autoconf/ltversion.m4 -text
autoconf/lt~obsolete.m4 -text
autoconf/medipack.m4 -text
autoconf/missing -text
autoconf/mpi.m4 -text
autoconf/stdcxx_11.m4 -text
/configure -text
/configure.ac -text
/update_versions.sh -text
